extends base.pug

block content
    form(action="/submit-user" method="post")
        p input first name:
        input(type="text", name="Firstname")
        br
        p input Lastname:
        input(type="text", name="Lastname")
        br
        p input Gender:
        input(type="radio", name="Gender", value="Male" checked)
        | Male
        br
        input(type="radio", name="gender", value="Female")
        | Female
        br
        p input Payroll Group:
        input(type="number", name="Payroll_Group")
        br
        p input Department:
        input(type="text", name="Department")
        br
        p input Job Title:
        input(type="text", name="Job_Title")
        br
        p input Image Path:
        input(type="text", name="Image_Path")
        br
        p input Fingerprint Id:
        input(type="text", name="Fingerprint_Id")
        br
        br
        input(type="submit", value="sumbit")